Importing relevant modules

In [1]:
import pandas as pd                         #for data wrangling
from sqlalchemy import create_engine, text  #for database operations

Reading excel file into pandas DataFrame

In [2]:
df = pd.read_excel('Orders.xlsx', sheet_name='Sheet1')
df.head()

,order_id,order_info_id,order_id_number,return_reason,order_date,order_weekday,order_month,ship_date,ship_mode,product_id,...,discount_over_30,region_id,postal_code,city,state,sub_region,salesperson,customer_id,customer_name,segment
0,AE-2019-1231682,AE-2019,1231682,Not Returned,2019-12-18,Wednesday,December,2019-12-23,Second Class,TEC-MOT-10001535,...,1,1488,47374,Richmond,Indiana,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
1,AE-2019-1263608,AE-2019,1263608,Not Returned,2019-12-26,Thursday,December,2019-12-31,Second Class,OFF-AVE-10004827,...,1,1488,78745,Austin,Texas,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
2,AE-2019-303016,AE-2019,303016,Not Returned,2019-12-18,Wednesday,December,2019-12-23,Second Class,TEC-MOT-10001535,...,1,1488,52402,Cedar Rapids,Iowa,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
3,AE-2019-304471,AE-2019,304471,Not Returned,2019-12-27,Friday,December,2019-12-31,Second Class,TEC-MOT-10001535,...,1,1488,60653,Chicago,Illinois,Central United States,Annelise Williams,GH-4665,Greg Hansen,Consumer
4,AE-2019-3123605,AE-2019,3123605,Not Returned,2019-11-30,Saturday,November,2019-12-05,Second Class,OFF-ROG-10001340,...,1,1488,55901,Rochester,Minnesota,Central United States,Annelise Williams,PG-8820,Patrick Gardner,Consumer

In [3]:
df.describe()

,order_id_number,order_date,ship_date,days_to_ship,unit_cost,sales,profit,profit_margin,quantity,discount,discount_over_30,region_id,postal_code
count,2.405900e+04,24059,24059,24059.000000,24059.000000,24059.000000,24059.000000,24059.000000,24059.000000,24059.000000,24059.000000,24059.0,24059.000000
mean,2.943374e+06,2019-08-06 07:00:49.528243200,2019-08-08 20:27:56.478656512,2.560497,72.538685,248.107230,1.239489,0.011945,3.459371,0.259932,0.347978,1488.0,65215.188287
min,4.000000e+01,2019-01-01 00:00:00,2019-01-01 00:00:00,0.000000,0.420000,0.440000,-3839.990000,-2.747212,1.000000,0.000000,0.000000,1488.0,46060.000000
25%,1.411105e+06,2019-05-25 00:00:00,2019-05-27 00:00:00,1.000000,11.610000,29.910000,0.100000,0.000415,2.000000,0.150000,0.000000,1488.0,55369.000000
50%,2.935473e+06,2019-08-24 00:00:00,2019-08-27 00:00:00,3.000000,29.550000,83.880000,0.190000,0.001586,3.000000,0.250000,0.000000,1488.0,63122.000000
75%,4.480046e+06,2019-10-31 00:00:00,2019-11-02 00:00:00,4.000000,83.400000,248.150000,0.290000,0.005556,5.000000,0.350000,1.000000,1488.0,77095.000000
max,5.994245e+06,2019-12-31 00:00:00,2020-01-06 00:00:00,7.000000,2799.990000,13999.960000,1439.450000,49.527244,14.000000,0.650000,1.000000,1488.0,79907.000000
std,1.765289e+06,NaN,NaN,1.730859,116.521756,502.412675,41.228899,0.430730,2.288170,0.136296,0.476339,0.0,11352.608177

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24059 entries, 0 to 24058
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          24059 non-null  object
 1   order_info_id     24059 non-null  object
 2   order_id_number   24059 non-null  int64
 3   return_reason     24059 non-null  object
 4   order_date        24059 non-null  datetime64[ns]
 5   order_weekday     24059 non-null  object
 6   order_month       24059 non-null  object
 7   ship_date         24059 non-null  datetime64[ns]
 8   ship_mode         24059 non-null  object
 9   product_id        24059 non-null  object
 10  days_to_ship      24059 non-null  int64
 11  category          24059 non-null  object
 12  sub_category      24059 non-null  object
 13  product_name      24059 non-null  object
 14  unit_cost         24059 non-null  float64
 15  sales             24059 non-null  float64
 16  sales_volume      24059 non-null  object
 17  profit            24059 non-null  float64
 18  profit_margin     24059 non-null  float64
 19  quantity          24059 non-null  int64
 20  discount          24059 non-null  float64
 21  discount_over_30  24059 non-null  int64
 22  region_id         24059 non-null  int64
 23  postal_code       24059 non-null  int64
 24  city              24059 non-null  object
 25  state             24059 non-null  object
 26  sub_region        24059 non-null  object
 27  salesperson       24059 non-null  object
 28  customer_id       24059 non-null  object
 29  customer_name     24059 non-null  object
 30  segment           24059 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(6), object(18)
memory usage: 5.7+ MB

Standardizing column headers

In [5]:
df.columns = df.columns.str.strip()
df.columns

Index(['order_id', 'order_info_id', 'order_id_number', 'return_reason',
       'order_date', 'order_weekday', 'order_month', 'ship_date', 'ship_mode',
       'product_id', 'days_to_ship', 'category', 'sub_category',
       'product_name', 'unit_cost', 'sales', 'sales_volume', 'profit',
       'profit_margin', 'quantity', 'discount', 'discount_over_30',
       'region_id', 'postal_code', 'city', 'state', 'sub_region',
       'salesperson', 'customer_id', 'customer_name', 'segment'],
      dtype='object')

Identifying max column length

In [6]:
{col: max(df[col].map(lambda x: len(x) )) if df[col].dtype == 'object' else -1 for col in df.columns}

{'order_id': 15,
 'order_info_id': 7,
 'order_id_number': -1,
 'return_reason': 12,
 'order_date': -1,
 'order_weekday': 9,
 'order_month': 9,
 'ship_date': -1,
 'ship_mode': 14,
 'product_id': 16,
 'days_to_ship': -1,
 'category': 15,
 'sub_category': 11,
 'product_name': 127,
 'unit_cost': -1,
 'sales': -1,
 'sales_volume': 4,
 'profit': -1,
 'profit_margin': -1,
 'quantity': -1,
 'discount': -1,
 'discount_over_30': -1,
 'region_id': -1,
 'postal_code': -1,
 'city': 17,
 'state': 12,
 'sub_region': 21,
 'salesperson': 17,
 'customer_id': 8,
 'customer_name': 22,
 'segment': 11}

Creating mySQL connection engine

In [10]:
engine = create_engine("mysql+pymysql://root:1234@localhost:3307/orders")

Creating orders table

In [8]:
create_table_query = """
    CREATE TABLE orders (
    order_id VARCHAR(30),
    order_info_id VARCHAR(30),
    order_id_number INT,
    return_reason VARCHAR(30),
    order_date DATETIME,
    order_weekday VARCHAR(20),
    order_month VARCHAR(20),
    ship_date DATETIME,
    ship_mode VARCHAR(30),
    product_id VARCHAR(30),
    days_to_ship INT,
    category VARCHAR(30),
    sub_category VARCHAR(30),
    product_name VARCHAR(250),
    unit_cost FLOAT(10,2),
    sales FLOAT(10,2),
    sales_volume VARCHAR(20),
    profit FLOAT(10,2),
    profit_margin FLOAT(10,2),
    quantity INT,
    discount FLOAT(10,2),
    discount_over_30 FLOAT(10,2),
    region_id INT,
    postal_code INT,
    city VARCHAR(30),
    state VARCHAR(30),
    sub_region VARCHAR(30),
    salesperson VARCHAR(30),
    customer_id VARCHAR(20),
    customer_name VARCHAR(50),
    segment VARCHAR(30)
)
"""

In [11]:
try:
    with engine.connect() as connection:
        print('connection successful')
        connection.execute(text(create_table_query))
        print('table created successfully')
except Exception as e:
    print(e)

connection successful
table created successfully

Appending DataFrame content to database table

In [12]:
df.to_sql('orders', con=engine, if_exists='append', index=False)

24059